<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.management.as.mapper.BoardMapper">
  	<select id="list" resultType="com.management.as.domain.BoardVO">	<!-- resultType로 BoardVO 에 담는다는걸 설정 -->
  		select * from board order by bno desc
  	</select>
  	
  	<!-- 페이징 처리 한 list -->
  	<select id="getListWithPaging" resultType="com.management.as.domain.BoardVO">
  		
		select * from( 
			select @rownum:=@rownum+1 as rownum, b.*
			from (select @rownum:=0) as rownumTable, board b
			where 1=1
			<if test="boardType != null and boardType != ''">
			  <if test="boardType == 'C'.toString()">
			    and type in ('C', 'A') 
			  </if>
			  <if test="boardType == 'E'.toString()">
			    and type in ('E', 'A') 
			  </if>
			</if>
	        <choose>
	            <when test="type=='T'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
	        </choose>
			order by bno desc ) as rownumBoardList
		<![CDATA[
		where rownum > (#{pageNum} - 1 ) * 10 and rownum <= (#{pageNum} *10 )
  		]]>
  	</select>
  	
  	<select id="getTotalCount" resultType="int">
  		select count(*) from board
	        where 1=1
			<if test="boardType != null and boardType != ''">
			  <if test="boardType == 'C'.toString()">
			    and type = 'C'
			  </if>
			  <if test="boardType == 'E'.toString()">
			    and type = 'E'
			  </if>
			</if>
	        <choose>
	            <when test="type=='T'.toString()">
					and title like concat('%',#{keyword},'%')
				</when>
				<when test="type=='C'.toString()">
					and content like concat('%',#{keyword},'%')
				</when>
	        </choose>
  	</select>
  	
  	
  	<select id="read" resultType="com.management.as.domain.BoardVO">
  		select * from board  where bno = #{bno}
  	</select>
  	
  	<update id="update">
  		update board
		set title = #{title},
			content = #{content},
		    updatedate = sysdate()
		where bno = #{bno}
  	</update>
  	
  	<update id="CountUpdate">
  		update board
  		set count = count + 1
  		where bno = #{bno}
  	</update>
  	
  	<delete id="delete">
  		delete from board
  		where bno = #{bno}
  	</delete>
  	
  	<insert id="insert">
  		insert into board(title, content, writer, type)
  		values(#{title}, #{content}, #{writer}, #{type})
  	</insert>
  	
  	<insert id="insertSelectKey">
  		<selectKey keyProperty = "bno" order="BEFORE" resultType="int">
  			select max(bno) +1 bno from board
  		</selectKey>
  		insert into board(bno, title, content, writer, type)
  		values(#{bno}, #{title}, #{content}, #{writer}, #{type})
  	</insert>
  	
  	<update id="updateEngineerAssignment">
	    UPDATE service_board
	    SET engineer_no = #{eno}, prostatus = 'P'
	    WHERE receipt_no = #{receiptNo}
	</update>
  	
  	
  	
  </mapper>