<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.as.mapper.EmployeeMapper">
	<select id="getSchedule"
		resultType="com.management.as.domain.ScheduleVO">
		select c.cnum, username, address, u.detail, visitdate, visittime, prostatus
		from user u join
		customer c on u.uid=c.uid
		where c.eno=#{eno}
	</select>

	<select id="selectAll"
		resultType="com.management.as.domain.EmployeeVO">
		select * from employee
	</select>

	<insert id="insert"
		parameterType="com.management.as.domain.EmployeeVO">
		insert into employee(eno, password, ename, ephone,
		hiredate, position)
		values(#{eno}, #{password}, #{ename}, #{ephone},
		#{hiredate},
		#{position})
	</insert> 

	<select id="selectByKeyword" parameterType="map"
		resultType="com.management.as.domain.EmployeeVO">
		SELECT * FROM employee
		<where>
			<if test="type == 'ename'">
				ename LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'eno'">
				eno LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'position'">
				position LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<select id="getPagedListWithSearch" parameterType="map"
		resultType="com.management.as.domain.EmployeeVO">
		select * from employee
		<where>
			<if test="type == 'ename'">
				ename like concat('%', #{keyword}, '%')
			</if>
			<if test="type == 'eno'">
				eno like concat('%', #{keyword}, '%')
			</if>
			<if test="type == 'position'">
				position like concat('%', #{keyword}, '%')
			</if>
		</where>
		order by eno
		limit #{offset}, #{size}
	</select>

	<select id="getTotalCount" parameterType="map" resultType="int">
		select count(*) FROM employee
		<where>
			<if test="type == 'ename'">
				ename like concat ('%', #{keyword}, '%')
			</if>
			<if test="type == 'eno'">
				eno like concat('%', #{keyword}, '%')
			</if>
			<if test="type == 'position'">
				position like concat ('%', #{keyword}, '%')
			</if>
		</where>
	</select>
	
	<select id="findById" resultType="com.management.as.domain.EmployeeVO" parameterType="String">
	select * from employee where eno = #{eno}
	</select>

 	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM employee
		WHERE eno = #{id}
	</select>
	
	
	<select id="getEngineerList" resultType="com.management.as.domain.EmployeeVO">
	    SELECT 
	    eno,
		ename,
		position,
		ephone,
		hiredate
	    FROM employee
	</select>
	
    <!-- 기사 배정 처리 -->
    <update id="assignEngineer">
        UPDATE customer
        SET eno = #{engineerNo} , prostatus = #{status}
        WHERE cnum = #{receiptNo}
    </update>

<!--     처리 상태 변경
    <update id="updateProStatus">
        UPDATE customer
        SET prostatus = #{status}
        WHERE cnum = #{receiptNo}
    </update> -->

	<!-- 기사 가능한 시간대 체크 -->
	<select id="assignCountCheck" resultType="int">
	SELECT COUNT(*) FROM customer
	WHERE eno = #{selectedEngineer} AND visitdate = #{visitdate} AND visittime = #{visittime}
	</select>

	
</mapper>