<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.management.as.mapper.EmployeeMapper">
<select id="getSchedule" resultType="com.management.as.domain.ScheduleVO">
select username, address, u.detail, visitdate, visittime from user u join customer c on u.uid=c.uid
</select>

</mapper>